<app-navbar></app-navbar>

<main id="main" style="margin-top: 8%;">
  <!-- ======= Appointment Section ======= -->
  <section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Quarter Details</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div>
        <h6 style="display: inline">Quarter Details available of : <span *ngFor="let quart of quarters" > &nbsp;&nbsp; <span style="background-color: #ffc107">{{quart.name}}</span>&nbsp;&nbsp;</span></h6>
      </div>
      <br><br>
      <form class="php-email-form">
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control"  [(ngModel)]="name" id="name" placeholder="Quarter">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" [(ngModel)]="year" name="email" id="email" placeholder="Financial Year" data-rule="email">
            <div class="validate"></div>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <button type="submit" (click)= "Search()">Get Details</button>
          </div>
        </div>
      </form>
      <br>
      <div [hidden]="actived">
        <h5>Result</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Quarter</th>
              <th>Sales</th>
              <th>Other Income</th>
              <th>Gross Profit</th>
              <th>Depreciation</th>
              <th>Interest</th>
              <th>Tax</th>
              <th>Net Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quarter of quarters" >
              <th>{{quarter.name}}</th>
              <th>{{quarter.sales}}</th>
              <th>{{quarter.other}}</th>
              <th>{{quarter.profit}}</th>
              <th>{{quarter.depreciation}}</th>
              <th>{{quarter.interest}}</th>
              <th>{{quarter.tax}}</th>
              <th>{{quarter.netProfit}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section><!-- End Appointment Section -->
</main>

<app-footer></app-footer>
